<!-- Realizando um check para verificar se a vari치vel "error" existe -->
<% if (typeof error === 'string') { %>

    <!-- Mensagem de erro para formul치rio imcompleto -->
    <div class="alert alert-danger">
        <%= error %>
    </div>

<% } %>

<!-- Realizando um check para verificar se a vari치vel "success" existe -->
<% if (typeof success === 'string') { %>

    <!-- Mensagem de erro para formul치rio imcompleto -->
    <div class="alert alert-success">
        <%= success %>
    </div>

<% } %>