		<!-- Include do Footer  -->
		<!-- Fazendo a chamada de parte de códigos que se repetem -->
		<!-- usado o include por (ejs) -->
		<%- include("footer") -%>

	</div>

	

	<!-- Include do Footer "Go To Top" -->
	<!-- Fazendo a chamada de parte de códigos que se repetem -->
	<!-- usado o include por (ejs) -->
	<%- include("footer-gototop") -%>

	<!-- Include do Footer Scripts -->
	<!-- Fazendo a chamada de parte de códigos que se repetem -->
	<!-- usado o include por (ejs) -->
	<%- include("footer-scripts") -%>

</body>

</html>